<%- include ('partials/navbar.ejs') %>


    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/about.css" rel="stylesheet">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <p style="text-align: center; font: italic bold 50px/1.5 'Ink Free'; margin-top: 5%;">Tasdid Kabir Adil</p>
        <div class="container">
            <div class="box-1"><img style="width: 580px" height="600px" src="img/myPhoto.jpg"></div>
            <div class="box-2">I am a passionate software engineering student with a deep love for coding and
                problem-solving. From the moment I wrote my first line of code, I was hooked on the endless
                possibilities of creating innovative solutions. I thrive in the world of algorithms and data structures,
                constantly seeking to expand my knowledge and sharpen my programming skills. Beyond the technical realm,
                I am a dedicated team player, always eager to collaborate and contribute to projects that make a
                positive impact. I firmly believe that technology has the power to shape a better future, and I am
                committed to being a part of that journey. In my free time, you'll often find me exploring new coding
                challenges, reading tech blogs, and staying updated with the latest industry trends. I'm excited about
                the endless opportunities that lie ahead in the dynamic field of software engineering, and I'm ready to
                embrace every coding adventure that comes my way.</div>
        </div>
        <div style="margin-top: 80px;"><%- include('partials/footer.ejs') %></div>
    </body>

    </html>