<%- include ('partials/navbar.ejs') %>


    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/projects.css" rel="stylesheet">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <div class="container">
            <p
                style="text-align: center; font: italic bold 40px/1.5 'Ink Free'; margin-top: 5%; margin-bottom: -0.5%; line-height: 35px;">
                Project 1<br><span style="font: italic bold 20px 'Ink Free';"><span
                        style=" text-decoration: underline;">Description:</span> This project is about
                    building a website for a real estate agent client. The purpose was to implement all the knowledge
                    of using HTML, CSS and JavaScript.</span></p>
            <div class="box"><a href="https://tasdidkabir.github.io/TermProject/HomePage/HomePage.html"
                    target="_blank"><img src="img/project_1.png" width="1400px" height="300px"></a>
                <p>asdf</p>
            </div>
            <p
                style="text-align: center; font: italic bold 40px/1.5 'Ink Free'; margin-top: -0.1%; margin-bottom: -0.5%;  line-height: 35px;">
                Project 2<br><span style="font: italic bold 20px 'Ink Free';"><span
                        style=" text-decoration: underline;">Description:</span> This project was to build a website of
                    a product to help get an overview of how to provide a front-end clear view of retail
                    webpages.</span></p>
            </p>
            <div class="box"><a href="https://tasdidkabir.github.io/Assignment_3/assignment3.html" target="_blank"><img
                        src="img/project_2.png" width="1400px" height="300px"></a></div>
            <p
                style="text-align: center; font: italic bold 40px/1.5 'Ink Free'; margin-top: -0.1%; margin-bottom: -0.5%;  line-height: 35px;">
                Project 3<br><span style="font: italic bold 20px 'Ink Free';"><span
                        style=" text-decoration: underline;">Description:</span> This project represents an articulated
                    view of the impact of climate change based on a news article.</span></p>
            </p>
            <div class="box"><a href="https://tasdidkabir.github.io/Assignment_2/assignment2.html" target="_blank"><img
                        src="img/project_3.png" width="1400px" height="300px"></a></div>
        </div>
        <div style="margin-top: 80px;"><%- include('partials/footer.ejs') %></div>
    </body>

    </html>