<%- include ('partials/navbar.ejs') %>


    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/services.css" rel="stylesheet">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <p style="text-align: center; font: italic bold 40px/1.5 'Ink Free'; margin-top: 5%;">Provided services</p>
        <div class="container">
            <div class="box"><img style="float: left;" src="img/service_1.jpg" width="500px" height="300px">
                <div style="width: 830px; float: left; margin-left: 2%;">
                    <p style="text-align: left; font: italic bold 20px/1.5 'Ink Free'; margin-left: 3%;">
                        General Programming<br><span
                            style="font-weight: normal;  font-size: 15px; font-family: 'Courier New', Courier, monospace;">I
                            have a broad range of talents and experience, and I specialize in general programming to
                            help you realize your software projects. I make sure that your applications are
                            painstakingly developed with a strong eye for detail. My programming career include taking
                            on complex problems, streamlining code, and providing effective, scalable solutions based on
                            your particular needs. As your devoted programmer, I take satisfaction in developing unique
                            software programs that improve productivity, streamline operations, and spark creativity for
                            your company.</span>
                    </p>
                </div>
            </div>
            <div class="box"><img style="float: left;" src="img/service_2.jpg" width="500px" height="300px">
                <div style="width: 830px; float: left; margin-left: 2%;">
                    <p style="text-align: left; font: italic bold 20px/1.5 'Ink Free'; margin-left: 3%;">
                        Web Development:<br><span
                            style="font-weight: normal;  font-size: 15px; font-family: 'Courier New', Courier, monospace;">I
                            provide web development services that turn your ideas into attractive, useful websites.
                            Providing seamless user experiences across all devices is my aim. I create dynamic web
                            applications, e-commerce platforms, and content management systems that support your company
                            goals thanks to my expertise in both front-end and back-end development. I place a great
                            value on responsive design and user-friendly interfaces to make sure your web presence is
                            both aesthetically pleasing and incredibly useful.</span>
                    </p>
                </div>
            </div>
            <div class="box"><img style="float: left;" src="img/service_3.jpg" width="500px" height="300px">
                <div style="width: 830px; float: left; margin-left: 2%;">
                    <p style="text-align: left; font: italic bold 20px/1.5 'Ink Free'; margin-left: 3%;">
                        Mobile Apps<br><span
                            style="font-weight: normal;  font-size: 15px; font-family: 'Courier New', Courier, monospace;">With
                            support for both the Android and iOS platforms, my mobile app development services bring
                            your mobile app ideas to life. I employ cross-platform and native frameworks to build
                            high-performance, feature-rich mobile applications that draw people in and accomplish your
                            goals. My mobile app design is centered on the user experience, assuring simple navigation,
                            gorgeous aesthetics, and top performance. I have experience integrating third-party APIs,
                            allowing your program to communicate with external services and databases without any
                            hiccups.</span>
                    </p>
                </div>
            </div>
        </div>
        <div style="margin-top: 80px;"><%- include('partials/footer.ejs') %></div>
    </body>

    </html>