<%- include ('partials/navbar.ejs') %>


    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/contact.css" rel="stylesheet">
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <p style="text-align: center; font: italic bold 50px/1.5 'Ink Free'; margin-top: 5%;">THANK YOU FOR YOUR SUBMISSION</p>
    </body>

    </html>