<!DOCTYPE html>
<html>
    <body>
        <footer style="background-color: rgb(54, 54, 54); height: 100px; color: white; text-align:center; margin-top: -5px;"><br><br><small><i>&copy; Copyright Tasdid Kabir Adil, COMP229,
            Semester
            3</i></small></footer>
    </body>
</html>