body {
    font-family: Verdana, sans-serif;
    background-color: rgb(105, 105, 105);
    overflow-x: hidden;
    width: 1080px;
    margin: auto;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1 {
    padding-left: 30%;
    background-color: rgba(70, 70, 72, 255);
}

#bg {
    background-color: rgba(117, 115, 115, 0.656);
    padding: .3%;
}

.form1 {
    background-color: gray;
    width: 1080px;
    border: dotted 2px;
    margin: auto;
    padding: 1%;
}

.form2 {
    background-color: gray;
    border: solid 1px;
}

.inner {
    padding: 3%;
}

input {
    background-color: gray;
    border-color: black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.choice[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 0.5px solid #8d8c8c;
    background-color: rgb(228, 226, 226);
    -webkit-appearance: none;
    -moz-appearance: none;
  }

input:focus {
    outline: none;
}

.space {
    margin-right: 7%;
}

.choice[type="radio"]:focus {
    outline: none;
}

.choice[type="radio"]:checked {
    background-color: #000000;
  }
  
 .choice[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  .checkbox span:first-of-type {
    position: relative;
    left: -20px;
    font-size: 12px;
    color: #000000;
  }
  
  .checkbox span {
    position: relative;
    top: -6px;
  }

  button {
    background-color: #2b2c38;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

button:hover {
    background: #ddd;
    color: black;
}
