body {
    font-family: Arial;
    overflow-x: hidden;
    background-color: rgb(55, 54, 67);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    -webkit-text-stroke: 2px rgb(14, 46, 94);
    color: rgb(29, 67, 190);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myDiv {
    -webkit-text-stroke: 2px rgb(14, 46, 94);
    color: blueviolet;
    text-align: center;
    border: 1px solid rgb(41, 21, 65);
    border-left: 0ch;
    border-right: 0ch;
}

* {
    margin: 0%;
    padding: 0%;
}

.newDiv1 {
    background-color: black;
    color: rgb(220, 215, 215);
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid rgb(41, 21, 65);
}

.newDiv2 {
    color: rgb(220, 215, 215);
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.divbs {
    text-align: center;
}